{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "endOfLine": "auto",
  "printWidth": 80,
  "bracketSpacing": true,
  "useTabs": false,
  "bracketSameLine": true,
  "arrowParens": "always"
}
